html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn {
    -webkit-transition: none;
    transition: none;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.btn-primary {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}

.btn-info {
    color: #212529;
    background-color: #4dc0b5;
    border-color: #4dc0b5;
}

.btn-info:hover {
    color: #fff;
    background-color: #4dc0b5;
    border-color: #4dc0b5;
    cursor: pointer;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #4dc0b5;
    border-color: #4dc0b5;
    box-shadow: 0 0 0 0.2rem rgba(97, 157, 206, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #212529;
    background-color: #4dc0b5;
    border-color: #4dc0b5;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4dc0b5;
    border-color: #4dc0b5;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 157, 206, 0.5);
}

.mt-10,
.my-10 {
    margin-top: 8rem !important;
}

.mt-40 {
    margin-top: 40rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}

.ml-20 {
    margin-left: 10rem !important;
}

.bgblue {
    background-color: #4dc0b5;
}

.bginfo {
    background-color: #4dc0b5;
    padding: 20px;
}

.headimg {
    width: 100%;
    height: 100%;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
}

.headimg p {
    position: absolute;
    top: 150px;
    left: 150px;
}

.topmessage {
    background-color: rgba(90, 83, 83, 0.8);
    color: white !important;
    padding: 20px;
}

.headimg .toplink {
    position: absolute;
    top: 20px;
    left: 800px;
}
